{
	"ecmaFeatures": {
		"arrowFunctions": true,
		"generators": true,
		"modules": true,
		"blockBindings": true
	},
	"rules": {
		"semi": 2,
		"quotes": [2, "single", "avoid-escape"],
		"no-underscore-dangle": 0
	},
	"env": {
		// "browser": true,
		"node": true
	}
}
