html, body {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-content: center;
}
.container {
	align-self: center;
	width: 800px;
	height: 600px;
	position: relative;
	border: 3px solid hsl(215, 70%, 60%);
}
#view {
	width: 800px;
	height: 600px;
	position: relative;
	user-select: none;
}
.layer {
	pointer-events: none;
	position: absolute;
}
.penguin {
	z-index: 25;
	width: 28px;
	height: 50px;
	position: absolute;
	margin-left: -14px;
	margin-top: -25px;
	top: 50%;
	left: 50%;
	background: transparent url(/content/penguin/black-small.png) no-repeat;
}
.penguin img {
	bottom: 0;
	position: absolute;
}
.penguin:before {
	content: attr(data-name);
	width: 5em;
	text-align: center;
	position: absolute;
	left: 50%;
	font-size: 10px;
	line-height: 1em;
	bottom: -1em;
	margin-left: -2.5em;

	text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}
.penguin .message {
	z-index: 26;
	display: none;
	position: absolute;
	bottom: 5em;
	left: -24px;
	border-radius: 1em;
	width: 15em;
	padding: 1em;
	background: hsla(215, 20%, 86%, 0.6);
	border-color: hsla(215, 20%, 86%, 0.5);
	max-height: 6em;
	pointer-events: none;
}
.penguin .message p {
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-overflow: ellipsis;
}
.penguin .message:before {
	content: "";
	position: absolute;
	top: 100%;
	left: 32px;
	border-top: 2em solid transparent;
	border-top-color: inherit;
	border-left: 0.5em solid transparent;
	border-right: 0.5em solid transparent;
}

.panel {
	z-index: 20000;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	background: #9bacb3;
}

.panel>* {
	order: 0;
	flex: 0 1 auto;
	height: 19px;
}

.panel a {
	user-select: none;
}

#message {
	border: 0;
	background: #f7f7f5;
	color: #111111;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 18px;
	flex: 1 1 auto;
}

#overlay {
	z-index: 999999;
	background-color: #e2e2e2;
	background: linear-gradient(to bottom, #e2e2e2 0%, #dbdbdb 26%, #d1d1d1 55%, #fefefe 100%);
	content: " ";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

#overlay > .spinner {
	self-align: center;
}

/* http://www.designcouch.com/home/why/2013/05/23/dead-simple-pure-css-loading-spinner/ */

.spinner {
	text-indent: 100%;
	overflow: hidden;
	height: 60px;
	width: 60px;
	margin: 0px auto;
	position: relative;
	animation: rotation 1s infinite linear;
	border: 6px solid rgba(0,174,239,.15);
	border-top-color: rgba(0,174,239,.8);
	border-radius: 100%;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

canvas {
	z-index: 1999999;
	pointer-events: none;
	position: absolute;
	left: 0;
	top: 0;
}

.item {
	pointer-events: auto;
	cursor: pointer;
}

.inventory {
	position: absolute;
	background: #9bacb3;
	border-radius: .5em;
	width: 250px;
	height: 400px;
	z-index: 20000000;
}

.inventory-inner {
	position: absolute;
	background: #f7f7f5;
	border-radius: .25em;
	left: 5px;
	top: 45px;
	width: 240px;
	height: 350px;
	overflow: scroll;
}

.inventory img {
	display: inline-block;
	margin: 2px;
	border: 2px solid #9bacb3;
	border-radius: 5px;
}

.inventory .close {
	position: absolute;
	top: -.75em;
	right: -.75em;
}

.close {
	background: #FFFFFF;
	border: 3px solid #000000;
	border-radius: 50%;
	box-sizing: border-box;
	color: #000000;
	display: block;
	font-weight: bold;
	height: 1.5em;
	text-align: center;
	text-decoration: none;
	width: 1.5em;
}

.log {
	right: 100px;
	top: 50px;
	position: absolute;
	background: #9bacb3;
	border-radius: .5em;
	width: 250px;
	height: 400px;
	z-index: 20000000;
}

.log-inner {
	position: absolute;
	background: #f7f7f5;
	border-radius: .25em;
	left: 5px;
	top: 45px;
	width: 240px;
	height: 350px;
	overflow: scroll;
}

.log .close {
	position: absolute;
	top: -.75em;
	right: -.75em;
}

.log-inner p {
	margin: .15em .25em;
}
